@import "../../_variables.scss";

.login {
  @media screen and(min-width: $sm) {
    min-width: 450px;
  }
  .header1 {
    margin: 0;
    margin-bottom: 32px;
  }
  .header3 {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.6;
    margin: 0;
  }
  .paragraph {
    font-size: 0.9rem;
    margin: 0;
    margin-bottom: 24px;
    color: $text-light;
  }
  .prevBtnBox {
    padding: 8px 0px;
    .prevBtn {
      background-color: $secondary-light;
      font-size: 0.85rem;
    }
  }
  .input {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
  .error {
    color: $error;
    font-size: 0.9rem;
    padding: 16px 0px;
  }
  .submitBtn {
    max-width: unset;
    width: 100%;
  }
  .buttonsRow {
    display: flex;
    align-items: center;
    column-gap: 16px;
    .timer {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .submitBtn {
      max-width: unset;
      width: 100%;
    }
    .resendBtn {
      max-width: unset;
      width: 100%;
      background-color: #ddd;
      &:hover {
        background-color: #ccc;
      }
      &:active {
        background-color: #ddd;
      }
    }
  }
}
